@media (hover: none) {
	.button {
		&:active {
			@include btn-goods-hover-effects;
		}
	}
	.slider {
		&__arrow-left {
			&:active {
				transform: translateY(-50%) translateX(-50%) scale(1.2);
			}
		}
		&__arrow-right {
			&:active {
				transform: translateY(-50%) translateX(-50%) scale(1.2);
			}
		}

		&__dot {
			&_active {
				@include dot-active;
			}
			&:active {
				transform: scale(1.04);
			}
		}
	}
}
@media (hover: hover) {
	.slider {
		&__dot {
			&:hover {
				@include dot-active;
			}
			&_active {
				@include dot-active;
			}
		}
		&__arrow-left {
			&:hover {
				transform: translateY(-50%) translateX(-50%) scale(1.2);
			}
		}
		&__arrow-right {
			&:hover {
				transform: translateY(-50%) translateX(-50%) scale(1.2);
			}
		}
	}
	.button {
		&:hover {
			@include btn-goods-hover-effects;
		}
	}
}

@media (max-width: 1199.98px) {
	// Здесь должна быть ваша реклама
}
@media (max-width: 991.98px) {
	.container {
		max-width: 720px;
	}
	.advantages {
		&__wrapper {
			gap: 35px 10px;
			justify-content: space-around;
		}
	}
	.carousel {
		padding: 81px 0 61px 0;
	}

	.slider {
		width: 600px;
		&__slide {
			height: 322px;
		}
		&__dots {
			bottom: 5%;
		}
	}
}

@media (max-width: 767.98px) {
	.container {
		max-width: 540px;
	}
	.header {
		gap: 50px 15px;
		justify-content: space-around;
	}
	.promo {
		min-height: 650px;
		min-height: 650px;
		background-position: 45% 50%;
		&__wrapper {
			align-items: center;
		}
		&__title {
			margin-top: 60px;
			font-size: 38px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__link {
			margin-top: 10px;
		}
		.button_w300 {
			width: 240px;
			height: 44px;
			font-size: 15px;
		}
	}

	.carousel {
		padding: 110px 0;
	}

	.slider {
		width: 500px;
		&__slide {
			height: 300px;
		}

		&__arrow-left {
			left: 40%;
			top: -20%;
		}
		&__arrow-right {
			left: 60%;
			top: -20%;
		}
	}
}
@media (max-width: 575.98px) {
	.container {
		max-width: auto;
		width: 100%;
		padding: 0 10px;
	}
	.header {
		gap: 20px 15px;
	}
	.promo {
		background-position: 35% 50%;
		&__title {
			margin-top: 50px;
			font-size: 34px;
		}
		&__subtitle {
			font-size: 16px;
		}
		&__link {
			margin-top: 10px;
		}
		.button_w300 {
			margin-top: 50px;
			width: 240px;
			height: 44px;
			font-size: 15px;
		}
		.promo-icons {
			margin-top: 50px;
			gap: 20px 5px;
			justify-content: space-evenly;
		}
	}
	.carousel {
		padding: 81px 0 100px 0;
	}

	.slider {
		width: 310px;
		&__slide {
			height: 182px;
		}
		&__dots {
			bottom: -30%;
			gap: 20px 15px;
		}
		&__dot {
			width: 40px;
			height: 13px;
		}
		&__arrow-left {
			width: 21px;
			height: 35px;
			left: 15%;
			transform: translateY(-50%) translateX(-50%);
			top: -25%;
		}
		&__arrow-right {
			width: 21px;
			height: 35px;
			left: 35%;
			transform: translateY(-50%) translateX(-50%);
			top: -25%;
		}
	}

	.feedback__comments {
		max-width: 90%;
	}

	.feedback-item {
		// flex-direction: column;
		// align-items: center;
		display: block;
		&__img {
			margin: 0 auto;
		}

		&__header {
			margin-top: 20px;
			text-align: center;
		}
		&__achievement {
			margin-top: 5px;
			text-align: center;
		}
		&__descr {
			margin-top: 25px;
			text-align: center;
		}
	}
}
