.advantages {
	min-height: 473px;
	background: $second-color;
	padding: 73px 0 65px 0;
	&__wrapper {
		margin-top: 60px;
		display: flex;
		justify-content: space-between;
		gap: 10px;
		flex-wrap: wrap;
	}
}
