.slider {
	width: 750px;
	position: relative;
	margin: 0 auto;
	&__counter {
		position: absolute;
		top: -50px;
		right: 0;
		font-size: 25px;
		font-weight: 700;
		text-transform: uppercase;
		color: $third-color;
		text-shadow:
			3px 3px 20px #286867,
			-3px -3px 20px #286867;
	}

	&__counter {
		padding-right: 20px;
	}

	&__screen {
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	&__carousel {
		display: flex;
		transition: $all-300-ease-out;
	}

	&__slide {
		height: 422px;
		img {
			height: 100%;
			width: 100%;
			user-select: none;
		}
	}

	&__dots {
		list-style: none;
		max-width: 310px;
		flex-wrap: wrap;
		position: absolute;
		display: flex;
		justify-content: center;
		gap: 5px 10px;
		bottom: 10%;
		left: 50%;
		transform: translateX(-50%);
	}
	&__dot {
		border-radius: 3px;
		cursor: pointer;
		width: 75px;
		height: 14px;
		opacity: 0.5;
		background: #add8e6;
		@include btn-fade-in-out-timing;
	}

	&__arrow-left {
		z-index: 10;
		cursor: pointer;
		width: 31px;
		height: 50px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		left: -10%;
		background: url('../../assets/icons/arrow-left.png') center center/cover no-repeat;
		transition: $link-transition-01;
	}
	&__arrow-right {
		z-index: 10;
		cursor: pointer;
		width: 31px;
		height: 50px;
		position: absolute;
		top: 50%;
		transform: translateY(-50%) translateX(-50%);
		right: -10%;
		background: url('../../assets/icons/arrow-right.png') center center/cover no-repeat;
		transition: $link-transition-01;
	}
}

.addBorder {
	box-shadow:
		2px 2px 10px #742e23,
		-2px -2px 10px #6b1a0d;
}
