@mixin btn-fade-in-out-timing() {
	transition:
		box-shadow 0.4s ease-in-out,
		text-shadow 0.2s ease-in-out,
		transform 0.1s ease-in-out;
}

@mixin btn-hover-effects() {
	box-shadow:
		2px 2px 7px #6c0509,
		-2px -2px 7px #a5080e;
	text-shadow:
		20px 20px 20px #f0e68c,
		-20px -20px 20px #f0e68c;
	transform: scale(1.04);
}

@mixin link-with-hover-and-timing() {
	transition: $link-fz-fade-in-out-timing01;
	&:hover {
		transform: scale(1.05);
	}
}

@mixin dot-active() {
	@include btn-hover-effects();
	opacity: 1;
	background: linear-gradient(to top, #deb887 10%, #a80404 70%);
}
