//colors
$main-color: #c70101;
$second-color: #f6f6f6;
$third-color: #0d0d0d;
//effect
$all-100-ease-out: all 0.1s ease-in-out;
$all-300-ease-out: all 0.3s ease-in-out;
$all-500-ease-out: all 0.5s ease-in-out;
$all-1000-ease-out: all 1s ease-in-out;

$link-fz-fade-in-out-timing01: transform 0.1s;
