//colors
$main-color: #c70101;
$second-color: #f6f6f6;
$third-color: #0d0d0d;
$fourth-color: #6b6b6b;
$fifth-color: #d0d0d0;
$sixth-color: #e8e8e8;
$seventh-color: #555;

//transition
$all-300-ease-out: all 0.3s ease-in-out;
$all-500-ease-out: all 0.5s ease-in-out;
$link-transition-01: transform 0.1s;
